@import play.api.libs.json._
@(message: String,jsonData:JsValue)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@message</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <figure class="highcharts-figure">
            <div id="container"></div>
            <p class="highcharts-description">
                Basic line chart showing trends in a dataset. This chart includes the
                <code>series-label</code> module, which adds a label to each line for
                enhanced readability.
            </p>
        </figure>

        <div class="select--tag">
<!--            <form id="myForm" action="postData" method="post">-->
                <select id="category" >
                    <option  value="All">All category</option>
                    <option value="MenClo">Men's Clothing</option>
                    <option value="WomenClo">Women's Clothing</option>
                </select>
                <select id="days">
                    <option value="oneDay">1 day</option>
                    <option value="twoDays">2 days</option>
                    <option value="threeDays">3 days</option>
                </select>
<!--                <label for="fname">First name:</label><br>-->
<!--                <input type="text" id="fname" name="fname"><br>-->
<!--                <label for="lname">Last name:</label><br>-->
<!--                <input type="text" id="lname" name="lname">-->
<!--                <input type="submit">-->
<!--            </form>-->



        </div>
     <button onclick="getValue()">Apply</button>
        <script type="text/javascript">
                var chart;
                var objData = @Html(jsonData.toString());
                console.log(objData);

                // One day
                // var dataMenClothing = [objData[0][0].doc_count,objData[0][1].doc_count,objData[0][2].doc_count,
                //              objData[0][3].doc_count,objData[0][4].doc_count,objData[0][5].doc_count,objData[0][6].doc_count]
                // var dataWomenClothing = [objData[1][0].doc_count,objData[1][1].doc_count,objData[1][2].doc_count,objData[1][3].doc_count,
                //     objData[1][4].doc_count,objData[1][5].doc_count,objData[1][6].doc_count]
                var oneDaytimeLine = ["12-12-2020","13-12-2020","14-12-2020","15-12-2020","16-12-2020","17-12-2020","18-12-2020"]
                var twoDaytimeLine = ["13-12-2020","15-12-2020","17-12-2020","18-12-2020"]
                var threeDaytimeLine = ["14-12-2020","17-12-2020","18-12-2020"]


                // Two day
                // var dataMenClothingTwo = [objData[0][0].doc_count + objData[0][1].doc_count,objData[0][2].doc_count +
                //     objData[0][3].doc_count,objData[0][4].doc_count + objData[0][5].doc_count,objData[0][6].doc_count]
                // var dataWomenClothingTwo = [objData[1][0].doc_count + objData[1][1].doc_count,objData[1][2].doc_count + objData[1][3].doc_count,
                //     objData[1][4].doc_count + objData[1][5].doc_count,objData[1][6].doc_count]
                // var twoDayTimeLine = [objData[0][1].key_as_string,objData[0][3].key_as_string,objData[0][5].key_as_string,objData[0][6].key_as_string]

                // Three day
                // var dataMenClothingThree = [objData[0][0].doc_count + objData[0][1].doc_count + objData[0][2].doc_count,
                //     objData[0][3].doc_count + objData[0][4].doc_count + objData[0][5].doc_count,objData[0][6].doc_count]
                // var dataWomenClothingThree = [objData[1][0].doc_count + objData[1][1].doc_count + objData[1][2].doc_count,objData[1][3].doc_count +
                //     objData[1][4].doc_count + objData[1][5].doc_count,objData[1][6].doc_count]
                // var threeDayTimeLine = [objData[0][2].key_as_string,objData[0][5].key_as_string,objData[0][6].key_as_string]

                var series =[{
                    name: "Men's Clothing && Women's Clothing",
                    data: objData,
                    color: "#cb4934"
                }]

                var getValue = function() {
                    var date = getValueDays();
                    var cate = getValueCategory();
                    var dataJs =  {
                        category: cate,
                        day: date
                    }
                    var dataJson = JSON.stringify(dataJs)
                    $.ajax({
                        url: "/postData",
                        cache: false,
                        data: dataJson,
                        type: "POST",
                        contentType: "application/json",
                        dataType: "json",

                        success: function (data) {
                            date = getValueDays();
                            cate = getValueCategory();
                            filterData(cate,date,data)

                        },
                        error: function (errormessage) {
                            console.log(errormessage)
                            console.log("Failed")
                        },
                        complete: function (){
                            console.log("Testing")
                        }
                    });

                }


                var filterData = function (cate,date,data) {
                    if ( cate == "All" && date == "oneDay"){
                        return updateUI(oneDaytimeLine,data,"#cb4934","Men's Clothing && Women's Clothing")
                    } else if (cate == "All" && date == "twoDays") {
                        var obj = {
                            new: [data[0],data[2],data[4],data[6]]
                        }
                        return  updateUI(twoDaytimeLine,obj.new,"#cb4934","Men's Clothing && Women's Clothing")
                    } else if (cate == "All" && date == "threeDays") {
                        var obj = {
                            new: [data[0],data[3],data[6]]
                        }
                        return updateUI(threeDaytimeLine,obj.new,"#cb4934","Men's Clothing && Women's Clothing")
                    } else if ( cate == "MenClo" && date == "oneDay"){
                        return updateUI(oneDaytimeLine,data,"#3a4fc5","Men's Clothing")
                    } else if (cate == "MenClo" && date == "twoDays") {
                        var obj = {
                            new: [data[0],data[2],data[4],data[6]]
                        }
                        return  updateUI(twoDaytimeLine,obj.new,"#3a4fc5","Men's Clothing")
                    } else if (cate == "MenClo" && date == "threeDays") {
                        var obj = {
                            new: [data[0],data[3],data[6]]
                        }
                        return updateUI(threeDaytimeLine,obj.new,"#3a4fc5","Men's Clothing")
                    } else if ( cate == "WomenClo" && date == "oneDay"){
                        return updateUI(oneDaytimeLine,data,"#a15f5e","Women's Clothing")
                    } else if (cate == "WomenClo" && date == "twoDays") {
                        var obj = {
                            new: [data[0],data[2],data[4],data[6]]
                        }
                        return  updateUI(twoDaytimeLine,obj.new,"#a15f5e","Women's Clothing")
                    } else if (cate == "WomenClo" && date == "threeDays") {
                        var obj = {
                            new: [data[0],data[3],data[6]]
                        }
                        return updateUI(threeDaytimeLine,obj.new,"#a15f5e","Women's Clothing")
                    } else {
                        console.log("Something else")
                    }

                }
                function updateUI (timeLine,data,color,chartName) {
                   return chart.update({
                        xAxis:{
                            categories:timeLine
                        },
                        series:[{
                                name: chartName,
                                data: data,
                                color:color
                                }
                        ]
                    })
                }

                function getValueCategory(){
                    var eleSelected = document.getElementById("category")
                    var valueSelected = eleSelected.options[eleSelected.selectedIndex].value;
                    return valueSelected
                }
                function getValueDays(){
                    var daySelected = document.getElementById("days")
                    var valueDay = daySelected.options[daySelected.selectedIndex].value;
                    return valueDay
                }
        </script>
        <script type="module">
             chart = Highcharts.chart('container', {
                    title: {
                        text: ''
                    },

                    subtitle: {
                        text: ''
                    },

                    yAxis: {
                        title: {
                            text: 'Number of Employees'
                        }
                    },
                    xAxis: {
                        type: 'datetime',
                        categories: oneDaytimeLine,

                    },

                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'top',
                        marginLeft: 50
                    },


                    series: series,

                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    }

                });


        </script>


        @* And here's where we render the `Html` object containing
        * the page content. *@
        @* @content
        @text*@

    </body>
</html>