@import play.api.libs.json._
@(message: String,jsonData:JsValue)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@message</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <figure class="highcharts-figure">
            <div id="container"></div>
            <p class="highcharts-description">
                Basic line chart showing trends in a dataset. This chart includes the
                <code>series-label</code> module, which adds a label to each line for
                enhanced readability.
            </p>
        </figure>

        <div class="select--tag">

                <select id="category" >
                    <option  value="(Men's Clothing) OR (Women's Clothing)">All category</option>
                    <option value="(Men's Clothing)">Men's Clothing</option>
                    <option value="(Women's Clothing)">Women's Clothing</option>
                </select>
                <select id="days">
                    <option value=86400>1 day</option>
                    <option value=172800>2 days</option>
                    <option value=259200>3 days</option>
                </select>




        </div>
     <button onclick="getValue()">Apply</button>
        <button onclick="testValue()">Click</button>
        <script type="text/javascript">
                var chart;
                var objData = @Html(jsonData.toString());
                console.log(objData);

                var oneDaytimeLine = ["12-12-2020","13-12-2020","14-12-2020","15-12-2020","16-12-2020","17-12-2020","18-12-2020"]
                var twoDaytimeLine = ["13-12-2020","15-12-2020","17-12-2020","18-12-2020"]
                var threeDaytimeLine = ["14-12-2020","17-12-2020","18-12-2020"]




                var series =[{
                    name: "Men's Clothing && Women's Clothing",
                    data: objData,
                    color: "#cb4934"
                }]

                var testValue = function (){
                    console.log("click")
                }



                var getValue = function() {
                    var date = getValueDays();
                    var cate = getValueCategory();
                    var dataJs =  {
                        category: cate,
                        day: date
                    }
                    var dataJson = JSON.stringify(dataJs)
                    $.ajax({
                        url: "/postData",
                        cache: false,
                        data: dataJson,
                        type: "POST",
                        contentType: "application/json",
                        dataType: "json",

                        success: function (data) {
                            // date = getValueDays();
                            // cate = getValueCategory();
                            filterData(cate,date,data)

                        },
                        error: function (errormessage) {
                            console.log(errormessage)
                            console.log("Failed")
                        }

                    });

                }
                var all = "(Men's Clothing) OR (Women's Clothing)"
                var menClo = "(Men's Clothing)"
                var womenClo = "(Women's Clothing)"
                var oneDay = "86400"
                var twoDay = "172800"
                var threeDay = "259200"

                var storeValue = [all,menClo,oneDay,twoDay,threeDay]

                var filterData = function (cate,date,data) {
                    if ( cate == all && date == oneDay){
                        return updateUI(oneDaytimeLine,data,"#cb4934","Men's Clothing && Women's Clothing")
                    } else if (cate === all && date === twoDay) {
                        var obj = {
                            new: [data[0],data[2],data[4],data[6]]
                        }
                        return  updateUI(twoDaytimeLine,obj.new,"#cb4934","Men's Clothing && Women's Clothing")
                    } else if (cate == all && date == threeDay) {
                        var obj = {
                            new: [data[0],data[3],data[6]]
                        }
                        return updateUI(threeDaytimeLine,obj.new,"#cb4934","Men's Clothing && Women's Clothing")
                    } else if ( cate == menClo && date == oneDay){
                        return updateUI(oneDaytimeLine,data,"#3a4fc5","Men's Clothing")
                    } else if (cate == menClo && date == twoDay) {
                        var obj = {
                            new: [data[0],data[2],data[4],data[6]]
                        }
                        return  updateUI(twoDaytimeLine,obj.new,"#3a4fc5","Men's Clothing")
                    } else if (cate == menClo && date == threeDay) {
                        var obj = {
                            new: [data[0],data[3],data[6]]
                        }
                        return updateUI(threeDaytimeLine,obj.new,"#3a4fc5","Men's Clothing")
                    } else if ( cate == womenClo && date == oneDay){
                        return updateUI(oneDaytimeLine,data,"#a15f5e","Women's Clothing")
                    } else if (cate == womenClo && date == twoDay) {
                        var obj = {
                            new: [data[0],data[2],data[4],data[6]]
                        }
                        return  updateUI(twoDaytimeLine,obj.new,"#a15f5e","Women's Clothing")
                    } else if (cate == womenClo && date == threeDay) {
                        var obj = {
                            new: [data[0],data[3],data[6]]
                        }
                        return updateUI(threeDaytimeLine,obj.new,"#a15f5e","Women's Clothing")
                    } else {
                        console.log("Something else")
                    }

                }
                function updateUI (timeLine,data,color,chartName) {
                   return chart.update({
                        xAxis:{
                            categories:timeLine
                        },
                        series:[{
                                name: chartName,
                                data: data,
                                color:color
                                }
                        ]
                    })
                }


                function getValueCategory(){
                    var eleSelected = document.getElementById("category")
                    var valueSelected = eleSelected.options[eleSelected.selectedIndex].value;
                    return valueSelected
                }
                function getValueDays(){
                    var daySelected = document.getElementById("days")
                    var valueDay = daySelected.options[daySelected.selectedIndex].value;
                    return valueDay
                }
        </script>
        <script type="module">
             chart = Highcharts.chart('container', {
                    title: {
                        text: ''
                    },

                    subtitle: {
                        text: ''
                    },

                    yAxis: {
                        title: {
                            text: 'Number of Employees'
                        }
                    },
                    xAxis: {
                        type: 'datetime',
                        categories: oneDaytimeLine,

                    },

                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'top',
                        marginLeft: 50
                    },


                    series: series,

                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    }

                });


        </script>


        @* And here's where we render the `Html` object containing
        * the page content. *@
        @* @content
        @text*@

    </body>
</html>