@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String,jsonData:String)

    @*
    * Call the `main` template with two arguments. The first
    * argument is a `String` with the title of the page, the second
    * argument is an `Html` object containing the body of the page.
    *@
   @* @main("Welcome to Play", welcome(message, style = "scala"),chartData)) {

    }*@
<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@message</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    </head>
    <body>
        <figure class="highcharts-figure">
            <div id="container"></div>
            <p class="highcharts-description">
                Basic line chart showing trends in a dataset. This chart includes the
                <code>series-label</code> module, which adds a label to each line for
                enhanced readability.
            </p>
        </figure>

        <select id="category" class="select--tag">
            <option value="MenClo">Men's Clothing</option>
            <option value="WomenClo">Women's Clothing</option>
        </select>
        <button onclick="filterData()">Apply</button>
        <script type="text/javascript">
                var chart
                var objData = @Html(jsonData)
                // ---------------------------------------------------------------------
                function groupData() {

                    for (var i = 0; i <= 5 ; i++){
                        let objBucket = objData.category_types.buckets[i]
                    }
                    console.log(objBucket)
                }

                    // console.log(objData.category_types.buckets)

                console.log(objData.category_types)
                var menClothing = objData.category_types.buckets[0].each_day.buckets
                var nameMenClothing = objData.category_types.buckets[0].key
                var dataMenClothing = [menClothing[0].doc_count,menClothing[1].doc_count,menClothing[2].doc_count,menClothing[3].doc_count,
                    menClothing[4].doc_count,menClothing[5].doc_count,menClothing[6].doc_count]
                // ---------------------------------------------------------------------
                var timeLine = [menClothing[0].key_as_string, menClothing[1].key_as_string,
                    menClothing[2].key_as_string,menClothing[3].key_as_string,menClothing[4].key_as_string,
                    menClothing[5].key_as_string,menClothing[6].key_as_string]

                var womenClothing = objData.category_types.buckets[1].each_day.buckets
                var nameWomenClothing = objData.category_types.buckets[1].key
                var dataWomenClothing = [womenClothing[0].doc_count,womenClothing[1].doc_count,womenClothing[2].doc_count,womenClothing[3].doc_count,
                    womenClothing[4].doc_count,womenClothing[5].doc_count,womenClothing[6].doc_count]

                var series =[{
                    id:1,
                    name: nameMenClothing,
                    data: dataMenClothing.slice(0,7)
                },
                    {
                        id:2,
                        name: nameWomenClothing,
                        data: dataWomenClothing.slice(0,7)
                    }
                ]
               var filterData =  function() {
                    var eleSelected = document.getElementById("category")
                    var valueSelected = eleSelected.options[eleSelected.selectedIndex].value;
                    var newData;
                    switch(valueSelected){
                        case "MenClo":
                            newData = [{
                                id:1,
                                name: nameMenClothing,
                                data: dataMenClothing.slice(0,7)
                            }]
                            break;
                        case "WomenClo":
                            newData = [{
                                id:1,
                                name: nameWomenClothing,
                                data: dataWomenClothing.slice(0,7)
                            }
                        ]
                            break;
                        default:
                            console.log('Something else')
                    }
                   console.log("Length chart ", chart.series.length )
                   console.log(newData)
                   rerenderUI(newData)
                }
                function rerenderUI(data) {
                    var seriesLength = chart.series.length;

                    for(var i = 1; i <= seriesLength ; i++){
                        chart.get(i).remove();
                    }
                    for (var y = data.length-1; y >= 0; y--) {
                        chart.addSeries(data[y]);
                    }

                }


        </script>
        <script type="module">
             chart = Highcharts.chart('container', {
                    title: {
                        text: 'Solar Employment Growth by Sector, 2010-2016'
                    },

                    subtitle: {
                        text: 'Source: thesolarfoundation.com'
                    },

                    yAxis: {
                        title: {
                            text: 'Number of Employees'
                        }
                    },
                    xAxis: {
                        // accessibility: {
                        //     rangeDescription: 'Range: 2010 to 2017'
                        // }
                        categories: timeLine

                    },

                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },


                    series: series,

                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    }

                });


        </script>


        @* And here's where we render the `Html` object containing
        * the page content. *@
        @* @content
        @text*@

    </body>
</html>